       <!-- Profile Page HTML -->
<section>
  <div class="container">
    <form>
    <div class="main-form">
      <div class="step step-1 active">
        <div class="form-group">
          <label for="recipe-name">Lets Start with the name of your Dish !</label>
          <input type="text" id="recipe-name" name="recipe-name" placeholder="Enter Dish Name Here !">
        </div>
        <button type="button" class="next-btn">Next</button>
      </div>

      <div class="step step-2">
        <div class="form-group">
          <label for="recipe-ing">Now let's add the ingredients !</label>
          <input type="text" id="recipe-ing" name="recipe-ing" placeholder="Try adding some ingredients !">
        </div>
        <button type="button" class="previous-btn">Prev</button>
        <button type="button" class="next-btn">Next</button>
      </div>

      <div class="step step-3">
        <div class="form-group">
          <label for="recipe-instr">Last but most important, Add some Instructions to help make your Dish !</label>
          <input type="text" id="recipe-instr" name="recipe-instr" placeholder="Add some instructions to follow !">
        </div>
        <button type="button" class="previous-btn">Prev</button>
        <button type="submit" class="submit-btn">Submit</button>
      </div>

    </form>
  </div>
  </div>
</section>

    {{#if recipes.length}}


    <div class="eight wide column recipe-list">

        <h3>Personal Recipes:</h3>

        {{#each recipes as |recipe|}}
        <div class="empty-div">
            <h4><a href="/recipe/{{recipe.id}}">{{recipe.recipeName}}</a></h4>
        </div>
        <p>Created on {{format_date}}</p>

        
        <div class="empty-div ">

            <button class="negative ui button ui btn-danger" data-id="{{recipe.id}}">DELETE</button>

        <p>{{recipe.ingredients}}</p>
        <div class="empty-div">

            <button class="button btn-danger" data-id="{{recipe.id}}" DELETE></button>


        </div>
        {{/each}}
    </div>
    {{/if}}


    

    <script src="./js/profile.js"></script>
    
    <!-- WIP -->

    <!--<script src="./js/recipe.js"></script> -->

    <script src="./js/recipe.js"></script>

