<!-- List of Recipes HTML -->
{{#each recipes as |recipe|}}
  <div class="eight wide column center-text">
    <div class="empty-div">
      <h2>
        <a href="/recipe/{{recipe.id}}">{{recipe.recipeName}}</a>
      </h2>
      <p>Created by {{recipe.user.name}} on {{format_date}}</p>
      <p>{{recipe.ingredients}}</p>
      <p>{{recipe.instructions}}</p>
    </div>
  </div>
{{/each}}