<div class="ui card">
  <div class="content">
    <div class="header">{{recipeName}}</div>
    <div class="description">
    <p>{{description}}</p>
    <p>{{ingOne}}</p>
    <p>{{ingOneOz}}</p>
    <p>{{ingTwo}}</p>
    <p>{{ingTwoOz}}</p>
    <p>{{ingThree}}</p>
    <p>Created by {{user.name}}</p>
      
    <div class="extra content">
    <i class="heart outline icon"></i>
    </div>
</div>