




<div class="card  text-white text-box solo">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="" class="img-fluid" />
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
    </a>
  </div>
  <div class="card-header"><h1>{{user.name}}'s</h1></div>
  <div class="card-body">
    <h2 class="card-title">{{recipeName}}</h2>
    <p class="card-text solo">{{ingredients}}</p>
    <p class="card-text solo">{{instructions}}</p>

  </div>
  <div class="card-footer">Posted on {{format_date}}</div>
</div>

<section>
<div class="card text-white text-box solo">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="..." class="img-fluid" />
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
    </a>
  </div>
  <div class="card-header"><h1>{{user.name}}'s {{recipeName}}</h1></div>
  <div class="card-body">
    <h2 class="info-header">Let's start with the ingredients.</h2>
    <hr>
    <p class="card-text solo">{{ingredients}}</p>
    <hr>
    <h2 class="info-header">Now for the instructions.</h2>
    <hr>
    <p class="card-text solo">{{instructions}}</p>

  </div>
  <div class="card-footer">Posted on {{format_date}}</div>
</div>
</section>