
{{#each recipe as |recipe|}}
  <div class="eight wide column">
    <div class="empty-div">
      <h2>

        <a href="/recipes/{{recipe.id}}">{{recipe.recipeName}}</a>
      </h2>
      <p>Created by {{recipe.user.name}} on {{format_date}}</p>
    </div>
    <div class="eight wide column">
      <p>
        {{recipe.ingredients}}
      </p>
    </div>
  </div>
{{/each}}